/* # Global Styes
   # Please insert all GLobal Styles below, avoid inserting anywhere.
---------------------------------------------------------------------------------------------------- */
html {
	font-size: 62.5%; /* 10px browser default */
}
body {
	background-color: rgba(218, 223, 226, 1);
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	margin: 0;
	padding: 0;
	line-height: 1.45;
}
body > div {
	font-size: 1.8rem;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}


/* Reusable */



/* # Elementor Overwrites ---------------------------------------------------------------------------------------------------- */
.elementor-editor-active .site-header,
.elementor-editor-active .nav-primary {
	display: none;
}
.full-width-content.elementor-page .site-inner {
	max-width: none;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}
.full-width-content.elementor-page .entry {
	padding: 0;
	margin: 0;
}
body .elementor-section.elementor-section-boxed>.elementor-container {
	max-width: 119rem;
}
body .elementor-widget:not(:last-child) {
	margin-bottom: 2rem;
}
.full-width-content.elementor-page .site-inner {
	padding-top: 0;
}
.elementor_library-template-default.elementor-editor-active .sidebar {
    display: none;
}
.elementor_library-template-default .content {
    width: 100%;
    padding: 0;
    margin: 0;
}
.site-footer {
	display: none;
}

/* # Genesis Overwrite
---------------------------------------------------------------------------------------------------- */
.site-container {
	margin:0 auto;
	max-width:192rem;
	overflow:hidden;
	width:100%;
}
.site-header {
	display: none;	
}
.footer-form #form-field-full_name {
    background: url(/wp-content/uploads/2018/07/icon-user.png) left center no-repeat;
    padding-left: 36px;
}
.footer-form #form-field-email {
    background: url(/wp-content/uploads/2018/07/icon-email.png) left center no-repeat;
    padding-left: 36px;
}
.footer-form #form-field-phone {
    background: url(/wp-content/uploads/2018/07/icon-phone.png) left center no-repeat;
    padding-left: 36px;
}

/* # will apply this css starting 1024px and below
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
	
}

/* # will apply this css starting 1023px and below
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1023px) {		
	
}

/* # Font Sizing
   # Please insert all media queries below, avoid creating new breakpoints and inserting anywhere.
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width:1600px) {
	html {
		font-size: 56.3%;
	}
}
@media only screen and (max-width:1023px) {
	br {
		display: none;
	}	
}
@media only screen and (max-width:960px) {
	html {
		font-size: 50%;
	}	
}

@media only screen and (max-width:768px) {
	
}

@media only screen and (max-width:767px) {
	.custom-header {
		position: static !important;
	}
}

@media only screen and (max-width:568px) {
	
}
